{% extends "base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-12 m-4">
			{% if isSubmitted %}
				<div class="card mb-3">
					<div class="card-body p-4">
						<h2 class=" mb-3">{{previousCountryName}}'s Capital City</h2>
						{% if isGood %}
							<p class="p-3 mb-2 bg-success text-white">Good ! Yes it is
								{{previousGoodAnswer }}
								!</p>
						{% else %}
							<p class="p-3 mb-2 bg-danger text-white">You failed ! The answer was
								{{previousGoodAnswer }}</p>
						{% endif %}
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body p-4">
						<h1 class="card-title mb-3">New game</h1>
					</div>
				</div>
			{% endif %}

			<div class="card  mb-3">
				<div class="card-body p-4">
					<h1 class="card-title mb-3">Find the good flag</h1>
					<h2 class=" mb-3">{{country.name}}</h2>
					{{ form_start(form) }}
					<div class="mb-3 d-flex flex-row">
						{{ form_widget(form.selectedOption) }}
					</div>
					{{ form_errors(form.selectedOption) }}
					<div class="mb-3">
						{{ form_widget(form.submit) }}
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
