{% extends "base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				{% if isSubmitted %}
					<div class="card mb-3">
						<div class="card-body p-4">
						<h2 class=" mb-3">{{previousCountry}}'s Capital City</h2>
							{% if isGood %}
								<p class="text-success">Good ! Yes it is
									{{previousGoodAnswer }}
									!</p>
							{% else %}
								<p class="text-warning">You failed ! The answer was
									{{previousGoodAnswer }}</p>
							{% endif %}
						</div>
					</div>
				{% endif %}

				<div class="card">
					<div class="card-body p-4">
					<h1 class="card-title mb-3">New game : find the capital city</h1>
						<h2 class=" mb-3">{{country.name}}</h2>
						{{ form_start(form) }}
						<div class="mb-3 d-flex flex-row">
							{{ form_widget(form.selectedOption) }}
						</div>
						{{ form_errors(form.selectedOption) }}
						<div class="mb-3">
							{{ form_widget(form.submit) }}
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
